<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>FR > EN</string>
	<key>Extension Identifier</key>
	<string>net.gtaylor.popclip.extension.fr-en</string>
	<key>Extension Description</key>
	<string>Translate from French to English using WordReference.com.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://www.wordreference.com/fren/{popclip text}</string>
			<key>Image File</key>
			<string>fr-en.png</string>
			<key>Title</key>
			<string>FR > EN</string>
		</dict>
	</array>
</dict>
</plist>
