<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>IMDb</string>
			<key>URL</key>
			<string>http://www.imdb.com/find?s=all&amp;q={popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search IMDb</string>
	<key>Extension Identifier</key>
	<string>net.gtaylor.popclip.extension.imdb</string>
	<key>Extension Name</key>
	<string>IMDb</string>
</dict>
</plist>
